

<p>
  <strong>姓名:</strong>
  <%= @man.name %>
</p>

<p>
  <strong>電話:</strong>
  <%= @man.phone %>
</p>

<p>
  <strong>備註:</strong>
  <%= @man.comment %>
</p>
<% if @man.role == 2 %>
  <%= link_to '編輯', edit_man_path(@man) %> |
  <%= link_to '回上頁', farmers_path %>
<% else %>
  <%= link_to '編輯', edit_man_path(@man) %> |
  <%= link_to '回上頁', customers_path %>
<% end %>