<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, '客戶名稱' %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :telephone, '客戶電話' %><br>
    <%= f.text_field :telephone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :code, '客戶代號' %><br>
    <%= f.text_field :code, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :group, '組別' %><br>
    <%= f.text_field :group, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :other, '備註' %><br>
    <%= f.text_area :other, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "確定" %>
  </div>
<% end %>
