
<h1>雞農清單</h1>

<table class="table">
  <thead>
    <tr>
      <th>名稱</th>
      <th>電話</th>
      <th>備註</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farmers.each do |farmer| %>
      <tr>
        <td><%= farmer.name %></td>
        <td><%= farmer.phone %></td>
        <td><%= farmer.comment %></td>
        <td><%= link_to '詳細資料', farmer %></td>
        <td><%= link_to '編輯', edit_man_path(farmer) %></td>
        <td><%= link_to '刪除', farmer, method: :delete, data: { confirm: '是否確定刪除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增', new_farmer_path %>
