<h1>出貨清單</h1>

<table class="table">
  <thead>
    <tr>
      <th>客戶</th>
      <th>品名</th>
      <th>單價</th>
      <th>數量</th>
      <th>籠重</th>
      <th>總重</th>
      <th>出貨日</th>
      <th>進出貨</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.man.name %></td>
        <td><%= order.product.name %></td>
        <td><%= order.unit_price %></td>
        <td><%= order.quantity %></td>
        <td><%= order.cage_weight %></td>
        <td><%= order.total_weight %></td>
        <td><%= order.date %></td>
        <td><%= order.kind %></td>
        <td><%= link_to '詳細資料', order %></td>
        <td><%= link_to '編輯', edit_list_path(order) %></td>
        <td><%= link_to '刪除', order, method: :delete, data: { confirm: '是否確定刪除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增', new_order_path %>
